* {
    margin: 0;
    padding: 0;
    background-color: #152238;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    background-image: url(Images/Resume_Image.jpg) cover;
}


.imgPosition {
    width: 100%;
    height: 40vh;
    max-width: 500px;
}

.resumeImgText {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40px;
    color: black;
    background-color: white;
}

.Gray {
    color: aliceblue;
    margin-left: 20px;
}

.tipsAndTricks ol li {
    color: gray;
    margin: 10px 30px;

}

.tipsAndTricks {
    color: white;
    padding: 10px;
    margin: 15px;
    border-top: 5px solid;
    border-radius: 50px;
    border-bottom: 5px solid;
}

.tipsAndTricks h3 {
    text-align: center;
}

.tipsAndTricks div {
    color: aliceblue;
    text-align: center;
    margin: 30px 0;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.contents {
    display: flex;
    padding: 10px;
    margin: 20px 0 20px 50px;
    width: 100%;
    border-bottom: 5px double white;
    max-width: 1000px;
    text-align: center;
}

.resumesImages img {
    height: 20rem;
    width: 20rem;
    border: 5px solid purple;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.specialKnowledge {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

.ResumeColor {
    text-align: center;
    text-shadow: 10px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: white solid;

}

.resumesData h2,
p {
    width: 80%;
}


@media only screen and (min-width: 359px) and (max-width: 600px) {

    .contents {

        padding: 10px;
        margin: 10px;
        width: 100%;
        border-bottom: 5px double white;
    }

    .contents div img {
        width: 100%;
        height: 100%;
    }

}